{% assign favicon_url = relative_root_path | append: '/assets/img/favicon/' %}

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{{ favicon_url }}/cropped-UKRN-Logo-150-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="{{ favicon_url }}/cropped-UKRN-Logo-150-180x180.png" sizes="180x180" />
    <link rel="icon" type="image/png" href="{{ favicon_url }}/cropped-UKRN-Logo-150-32x32.png" sizes="32x32" />
    <meta name="application-name" content="UKRN Open Research Training - {{ site.title }}"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ favicon_url }}/cropped-UKRN-Logo-150-192x192.png" />
